.coverage
*.egg-info
*.log
*.mo
*.py?
*.swp
# dirs
build/
htmlcov/
node_modules/
dist/*
venv/
instance/
sources/
.mxmake/
# files
*-mxdev.txt
.installed.txt
log.html
output.xml
pip-selfcheck.json
report.html
.vscode/
.python-version
reports/
# excludes
!.coveragerc
!.editorconfig
!.gitattributes
!.gitignore
!.gitkeep
!.travis.yml
!src/collective
